.breadcrumbs {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: flex-start;
    padding-block: 24px;
    font-size: var(--text-size-xs);

    .selected {
        color: var(--color-gray);
    }

    a:not(.selected) {
        color: var(--color-dark-gray);
    }
}


.product-card:hover {
    transition-duration: var(--transition-duration);
    box-shadow: 3px 3px 10px -5px var(--background-color-orange);
}




.background-orange-light {
    background-color: var(--color-orange-light);
}



.background-green-light {
    background-color: var(--color-green-light);
}

